.active-members {
    background: linear-gradient(135deg, #5c4b8b, #a79bbb);
    padding: 15px;
    border-radius: 12px;
    color: white;
    margin-bottom: 20px;
}

    .active-members h3 {
        font-family: 'Cursive', sans-serif;
        margin-bottom: 10px;
    }

    .active-members ul {
        list-style: none;
        padding: 0;
    }

    .active-members li {
        margin: 5px 0;
    }
