.posts-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post {
    background: linear-gradient(135deg, #5c4b8b, #e8c3f9);
    padding: 15px;
    border-radius: 12px;
    color: white;
    font-family: Arial, sans-serif;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .post-header button {
        background: #a79bbb;
        border: none;
        border-radius: 8px;
        padding: 5px 10px;
        cursor: pointer;
        color: white;
    }

        .post-header button:hover {
            background: #d1b3e0;
        }
