.post {
    background: #1f1f1f;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
}

    .post.active-user {
        background: linear-gradient(to right, #4facfe, #00f2fe);
    }

.post-user {
    font-weight: bold;
    margin: 0 0 5px 0;
}

.post-text {
    margin: 0;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff4d4f;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
